{% extends "base.html" %}

{% block content   %}
<div class="d-flex justify-content-between align-items-center mb-3">
    
    <h1>Student List</h1>

    <a href="/add/" class="btn btn-primary">
        Add Student
    </a>

</div>
{% if success %}
    <p style="color: green;">
        Student added successfully!
    </p>
{% endif %}

{% if updated %}
<p style="color:blue;">
    Student updated successfully!
</p>
{% endif %}

{% if deleted %}
<p style="color:red;">
    Student deleted successfully!
</p>
{% endif %}



<form method="GET" class="mb-3">

    <div class="row">

        <div class="col-md-4">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search by Name"
                value="{{ search }}">

        </div>

        <div class="col-md-2">

            <button class="btn btn-success">
                Search
            </button>

        </div>

    </div>

</form>

<table class="table">
  <thead>
    <tr>
        <th>Photo</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Email</th>
      
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     {% for student in page_obj  %}
    <tr>
        <td>

    {% if student.photo %}

        <img
            src="{{ student.photo.url }}"
            width="60"
            height="60"
            class="rounded-circle">

    {% else %}

        No Photo

    {% endif %}

</td>
      <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
    
      <td>{{ student.name }}</td>
      <td>{{ student.course }}</td>
      <td>{{ student.email }}</td>
      <td>
         <a href="/view/{{ student.id }}">
            View
    </a> |
        <a href="/edit/{{ student.id }}/">
            Edit
        </a>
           |

    <a href="/delete/{{ student.id }}/"
       onclick="return confirm('Are you sure?')">

        Delete

    </a>
   

    </td>
    </tr>
      {% endfor %}
  </tbody>

</table>
<nav>
    <ul class="pagination">

        <!-- Previous Button -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href="?page={{ page_obj.previous_page_number }}&search={{ search }}">
                Previous
            </a>
        </li>
        {% endif %}

        <!-- Page Numbers -->
        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link"
               href="?page={{ num }}&search={{ search }}">
                {{ num }}
            </a>
        </li>
        {% endfor %}

        <!-- Next Button -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="?page={{ page_obj.next_page_number }}&search={{ search }}">
                Next
            </a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endblock %}
