{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Student Details</h2>

<div class="card">

    <div class="card-body">
        {% if student.photo %}

<img src="{{ student.photo.url }}"
     width="180"
     class="img-thumbnail mb-3">

{% else %}

<p>No Photo Available</p>

{% endif %}

        <p><strong>Name :</strong> {{ student.name }}</p>

        <p><strong>Age :</strong> {{ student.age }}</p>

        <p><strong>Course :</strong> {{ student.course }}</p>

        <p><strong>Email :</strong> {{ student.email }}</p>

        <a href="/list/" class="btn btn-secondary">
            Back
        </a>

    </div>

</div>

{% endblock %}